<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


        <hibernate-configuration>
            <session-factory>
                <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
                <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
                <property name="hibernate.connection.url">jdbc:postgresql://ec2-3-212-75-25.compute-1.amazonaws.com/da107jtdnlf9kl</property>
                <property name="hibernate.connection.username">ysxifyfscllguj</property>
                <property name="hibernate.connection.password">704963787f95a79bad324d40e6340af8aef71c0a80209c7cc4692c7a26d94fa5</property>
                <property name="show_sql">true</property>
                <property name="hibernate.enable_lazy_load_no_trans">true</property>
                <property name="hbm2ddl.auto">update</property>
                <mapping class="ua.com.alevel.servlet.models.User"/>
                <mapping class="ua.com.alevel.servlet.models.Book"/>
                <mapping class="ua.com.alevel.servlet.models.Address"/>
            </session-factory>
        </hibernate-configuration>

